<!DOCTYPE html>
<html>
  <head>
    <title>Angular.js Training</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular-sanitize.js"></script>
  </head>
  <body>
    <!-- requirement
    1. Declaratively list the tabs to be created
    2. Be able to add new tabs on the fly
    3. Display HTML content in the tabs
    4. Allow the tabs to be loaded from a template
    5. Initialize a list of tabs in the javascript
    6. Unload inactive tabs from the dom
    -->
    <div ng-app="MyApp">
      <div ng-controller="MyCtrl">
        Tab Id: <input ng-model="newTabId" /><br>
        Tab Caption: <input ng-model="newTabCaption" /><br>
        Tab Content: <input ng-model="newTabContent" /><br>
        <button ng-click="addNewTab()">Add new tab</button>
        current tab : {{currentTab}}
        <tab-set tabs="tabs" current-tab="currentTab">
          <tab tab-id="tab1" tab-caption="Tab 1">
            Tab 1 Content
          </tab>
          <tab tab-id="tab2" tab-caption="Tab 2" tab-template-url="./partials/template.html">
          </tab>
          <tab tab-id="tab3" tab-caption="Tab 3">
            Tab 3 Content
          </tab>
          <tab tab-id="tab4" tab-caption="Tab 4">
            Tab 4 Content
          </tab>
        </tab-set>
      </div>
    </div>
    <script>
      angular.module("MyApp", ['ngSanitize'])
      .controller("MyCtrl", function($scope){
        $scope.currentTabs = "tab1";
        $scope.tabs = [];
        $scope.tabs.push({
          tabId: 0,
          tabCaption: "tab 0",
          tabContent: "Toto"
        });
        $scope.addNewTab = function() {
          $scope.tabs.push({
            tabId: $scope.newTabId,
            tabCaption: $scope.newTabCaption,
            tabContent: $scope.newTabContent
          });
        };
      })
      .directive("tabSet", function($compile, $q){
        return {
          scope: {
            tabs: "=",
            currentTab: "="
          },
          controller: function($scope, $element){
            this.addTabPromise = function (promise) {
              $scope.tabPromises.push(promise);
            };
            // this.addTab = function(tabId, tabCaption, tabContent) {
            //   $scope.tabs.push({
            //     tabId: tabId,
            //     tabCaption: tabCaption,
            //     tabContent: tabContent
            //   });
            // };
          },
          compile : function(tElement, tAttrs) {
            return {
              pre: function(scope, element, attr) {
                scope.tabsPromises = [];
                // if (!angular.isArray(scope.tabsPromises)) {
                //   scope.tabsPromises = [];
                // }
                scope.activateTab = function(tabId) {
                  scope.currentTab = tabId;
                };
              },
              post: function(scope, element, attr) {
                element.empty();
                var tpl = "<ul><li ng-repeat='tab in tabs' ng-click='activateTab(tab.tabId)'>{{tab.tabCaption}}</li></ul><div ng-if='tab.tabId === currentTab' ng-repeat='tab in tabs'>{{tab.tabContent}}</div>";
                var linkingFn = $compile(tpl);
                element.append(linkingFn(scope));
                $q.all(scope.tabPromises).then(function(tabResults) {
                  console.dir(arguments);
                  var count = tabResults.length;
                  angular.forEach(tabResults, function(tabResult) {
                    scope.tabs.push({
                      tabId: tabResult.tabId,
                      tabCaption: tabResult.tabCaption,
                      tabContent: tabResult.tabContent
                    });
                  });
                }).then(function(tabResults){
                  angular.forEach(tabResults, function(tabResult) {
                    var linkingFn = $compile(tabResult.tabContent);
                    element.find('[tab-id='+tabResult.tabId+']').append(linkingFn(scope));
                  });
                });
                //console.log(scope.tabs);
              }
            };
          }
        };
      })
      .directive("tab", function($templateRequest, $q){
        return {
          require: "^tabSet",
          link: function(scope, element, attrs, ctrl) {
            if (attrs.hasOwnProperty('tabTemplateUrl')) {
              ctrl.addTabPromise($templateRequest(attrs.tabTemplateUrl).then(function(result) {
                return $q.when({
                  tabId: attrs.tabId,
                  tabCaption: attrs.tabCaption,
                  tabContent: result
                });
              }));
            } else {
              ctrl.addTabPromise($q.when({
                tabId: attrs.tabId,
                tabCaption: attrs.tabCaption,
                tabContent: element.html()
              }));
            }
          }
        };
      });

    </script>
  </body>

</html>
